<!DOCTYPE html>
<html>
<head>
    <title>About Page</title>
</head>
<body>
    <h1>About Us</h1>
    <p>This is a simple About page created with <b>EJS</b>.</p>

    <p>Click below to return Home:</p>
    <a href="/">Back to Home Page</a>
</body>
</html>
